In [2]:
import pandas as pd
import numpy as np

In [3]:
df=pd.read_csv("dataset.csv")

In [4]:
df.columns

Index(['anime_id', 'Name', 'English name', 'Other name', 'Score', 'Genres',
       'Synopsis', 'Type', 'Episodes', 'Aired', 'Premiered', 'Status',
       'Producers', 'Licensors', 'Studios', 'Source', 'Duration', 'Rating',
       'Rank', 'Popularity', 'Favorites', 'Scored By', 'Members', 'Image URL'],
      dtype='object')

In [5]:
"""for content based -> we need non numerical ,and that describes the show, 
to find similar  closer vectors"""
df.head(1)

,anime_id,Name,English name,Other name,Score,Genres,Synopsis,Type,Episodes,Aired,...,Studios,Source,Duration,Rating,Rank,Popularity,Favorites,Scored By,Members,Image URL
0,1,Cowboy Bebop,Cowboy Bebop,カウボーイビバップ,8.75,"Action, Award Winning, Sci-Fi","Crime is timeless. By the year 2071, humanity ...",TV,26.0,"Apr 3, 1998 to Apr 24, 1999",...,Sunrise,Original,24 min per ep,R - 17+ (violence & profanity),41.0,43,78525,914193.0,1771505,https://cdn.myanimelist.net/images/anime/4/196...

In [6]:
#English name,Genres,Synopsis,Type,Producers

In [7]:
df=df[["English name","Genres","Synopsis","Type","Producers"]]

In [8]:
df.head(1)

,English name,Genres,Synopsis,Type,Producers
0,Cowboy Bebop,"Action, Award Winning, Sci-Fi","Crime is timeless. By the year 2071, humanity ...",TV,Bandai Visual

In [9]:
df.duplicated().sum()

3270

In [10]:
df.isnull().sum()

English name    0
Genres          0
Synopsis        0
Type            0
Producers       0
dtype: int64

In [11]:
#now we need to add them in one column
#now we will need each columns in a list ,with no spaces, so ,we can extend them 
# in single list

In [12]:
df.head(1)

,English name,Genres,Synopsis,Type,Producers
0,Cowboy Bebop,"Action, Award Winning, Sci-Fi","Crime is timeless. By the year 2071, humanity ...",TV,Bandai Visual

In [13]:
# x=df.iloc[0] testing how to convert

In [14]:
# x["Genres"].split() #testing how to convert

In [15]:
df["Genres"]=df["Genres"].apply(lambda x: x.split())

In [16]:
df["Synopsis"]=df["Synopsis"].apply(lambda x: x.split())

In [17]:
df["Type"]=df["Type"].apply(lambda x: x.split())

In [18]:
df["Producers"]=df["Producers"].apply(lambda x: x.split())

In [19]:
df.head(1)

,English name,Genres,Synopsis,Type,Producers
0,Cowboy Bebop,"[Action,, Award, Winning,, Sci-Fi]","[Crime, is, timeless., By, the, year, 2071,, h...",[TV],"[Bandai, Visual]"

In [20]:
#now adding all these columns

In [21]:
#tag
df["imp_tag"]=df["Genres"]+df["Synopsis"]+df["Type"]+df["Producers"]

In [22]:
final_df=df[["English name","imp_tag"]]

In [23]:
final_df = df[df['English name'] != 'UNKNOWN'].reset_index(drop=True)

In [24]:
final_df

,English name,Genres,Synopsis,Type,Producers,imp_tag
0,Cowboy Bebop,"[Action,, Award, Winning,, Sci-Fi]","[Crime, is, timeless., By, the, year, 2071,, h...",[TV],"[Bandai, Visual]","[Action,, Award, Winning,, Sci-Fi, Crime, is, ..."
1,Cowboy Bebop: The Movie,"[Action,, Sci-Fi]","[Another, day,, another, bounty—such, is, the,...",[Movie],"[Sunrise,, Bandai, Visual]","[Action,, Sci-Fi, Another, day,, another, boun..."
2,Trigun,"[Action,, Adventure,, Sci-Fi]","[Vash, the, Stampede, is, the, man, with, a, $...",[TV],"[Victor, Entertainment]","[Action,, Adventure,, Sci-Fi, Vash, the, Stamp..."
3,Witch Hunter Robin,"[Action,, Drama,, Mystery,, Supernatural]","[Robin, Sena, is, a, powerful, craft, user, dr...",[TV],"[Bandai, Visual,, Dentsu,, Victor, Entertainme...","[Action,, Drama,, Mystery,, Supernatural, Robi..."
4,Beet the Vandel Buster,"[Adventure,, Fantasy,, Supernatural]","[It, is, the, dark, century, and, the, people,...",[TV],"[TV, Tokyo,, Dentsu]","[Adventure,, Fantasy,, Supernatural, It, is, t..."
...,...,...,...,...,...,...
10323,Mechronicle,[UNKNOWN],"[Set, in, a, mechanical, world,, Mechronicle, ...",[UNKNOWN],[UNKNOWN],"[UNKNOWN, Set, in, a, mechanical, world,, Mech..."
10324,Observing Elena Evoy,"[Fantasy,, Romance]","[""If, you're, not, my, rival,, why, do, I, fee...",[ONA],[UNKNOWN],"[Fantasy,, Romance, ""If, you're, not, my, riva..."
10325,A Dream Where You Dreamt of Me,[Drama],"[Music, video, for, the, song, Wo, Mengjian, n...",[Music],[UNKNOWN],"[Drama, Music, video, for, the, song, Wo, Meng..."
10326,Blader Soul,"[Action,, Adventure,, Fantasy]","[No, description, available, for, this, anime.]",[ONA],[UNKNOWN],"[Action,, Adventure,, Fantasy, No, description..."
10327,The First Order,"[Action,, Adventure,, Fantasy,, Sci-Fi]","[No, description, available, for, this, anime.]",[ONA],[UNKNOWN],"[Action,, Adventure,, Fantasy,, Sci-Fi, No, de..."

In [25]:
# now converting list into string
final_df["imp_tag"]=final_df["imp_tag"].apply(lambda x :" ".join(x))

In [26]:
final_df=final_df[["English name","imp_tag"]]

In [27]:
final_df

,English name,imp_tag
0,Cowboy Bebop,"Action, Award Winning, Sci-Fi Crime is timeles..."
1,Cowboy Bebop: The Movie,"Action, Sci-Fi Another day, another bounty—suc..."
2,Trigun,"Action, Adventure, Sci-Fi Vash the Stampede is..."
3,Witch Hunter Robin,"Action, Drama, Mystery, Supernatural Robin Sen..."
4,Beet the Vandel Buster,"Adventure, Fantasy, Supernatural It is the dar..."
...,...,...
10323,Mechronicle,"UNKNOWN Set in a mechanical world, Mechronicle..."
10324,Observing Elena Evoy,"Fantasy, Romance ""If you're not my rival, why ..."
10325,A Dream Where You Dreamt of Me,Drama Music video for the song Wo Mengjian ni ...
10326,Blader Soul,"Action, Adventure, Fantasy No description avai..."
10327,The First Order,"Action, Adventure, Fantasy, Sci-Fi No descript..."

In [28]:
#now preprocessing texts for vectorization: we will use bag of words:
# before that we need to :
# stem
# lowercase,
#remove stuff other than alphabets
#removing stopwords

In [29]:
!pip install nltk

Requirement already satisfied: nltk in /home/seika/.pyenv/versions/3.10.14/lib/python3.10/site-packages (3.9.1)
Requirement already satisfied: click in /home/seika/.pyenv/versions/3.10.14/lib/python3.10/site-packages (from nltk) (8.2.1)
Requirement already satisfied: joblib in /home/seika/.pyenv/versions/3.10.14/lib/python3.10/site-packages (from nltk) (1.5.1)
Requirement already satisfied: regex>=2021.8.3 in /home/seika/.pyenv/versions/3.10.14/lib/python3.10/site-packages (from nltk) (2024.11.6)
Requirement already satisfied: tqdm in /home/seika/.pyenv/versions/3.10.14/lib/python3.10/site-packages (from nltk) (4.67.1)

In [30]:
from nltk.stem.porter import PorterStemmer
from nltk.corpus import stopwords
porter_stemmer=PorterStemmer()
import re

In [31]:

def stemming(content):
    st_content=re.sub('[^a-zA-Z]',' ',content)
    st_content=content.lower()
    st_content=st_content.split()
    st_content= [porter_stemmer.stem(word) for word in st_content if not word in stopwords.words('english')]
    st_content= ' '.join(st_content)
    return st_content

In [32]:
final_df.loc[:, "imp_tag"] = final_df["imp_tag"].apply(stemming)

In [33]:
final_df

,English name,imp_tag
0,Cowboy Bebop,"action, award winning, sci-fi crime timeless. ..."
1,Cowboy Bebop: The Movie,"action, sci-fi anoth day, anoth bounty—such li..."
2,Trigun,"action, adventure, sci-fi vash stamped man $$6..."
3,Witch Hunter Robin,"action, drama, mystery, supernatur robin sena ..."
4,Beet the Vandel Buster,"adventure, fantasy, supernatur dark centuri pe..."
...,...,...
10323,Mechronicle,"unknown set mechan world, mechronicl tell stor..."
10324,Observing Elena Evoy,"fantasy, romanc ""if rival, feel way?"" bless be..."
10325,A Dream Where You Dreamt of Me,drama music video song wo mengjian ni mengjian...
10326,Blader Soul,"action, adventure, fantasi descript avail anim..."
10327,The First Order,"action, adventure, fantasy, sci-fi descript av..."

# VECTORIZATION

In [34]:
from sklearn.feature_extraction.text import CountVectorizer
cv=CountVectorizer(max_features=5000,stop_words='english')

In [35]:
vectors=cv.fit_transform(final_df['imp_tag']).toarray()

In [36]:
from sklearn.metrics.pairwise import cosine_similarity

In [ ]:
similarity=cosine_similarity(vectors)

In [ ]:
def recommend(name):
    name_index=final_df[final_df['English name']==movie].index[0]
    distances=similarity[name_index]
    anime_list_index=sorted(list(enumerate(distances)),reverse=True,key=lambda x: x[1])[1:6]
    for i in anime_list_index:
        print(final_df.iloc[i[0]].title)

In [ ]:
#done