# SPAM MAIL PREDICTION

In [1]:
import numpy as np
import pandas as pd
import re
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
from sklearn.feature_extraction.text import TfidfVectorizer

#model Building

from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score,precision_score,recall_score,f1_score

In [2]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\vanshika\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [3]:
stopwords.words('english')

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 "that'll",
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once',
 'here',
 'there',
 'when',
 'where',
 'why',
 'how',
 'all',
 'any',
 'both',
 'each',
 'few',
 'more',
 'most',
 'other',
 'some',
 'such',
 'no',
 'nor',
 'not',
 'only',
 'own',
 'same',
 'so',
 'than',
 'too',
 'very',
 's',
 't',
 'can',
 'will',
 'just',
 'don',
 "don't",
 'should',
 "should've",
 'now',
 'd',
 'll',
 'm',
 'o',
 're',
 've',
 'y',
 'ain',
 'aren',
 "aren't",
 'couldn',
 "couldn't",
 'didn',
 "didn't",
 'doesn',
 "doesn't",
 'hadn',
 "hadn't",
 'hasn',
 "hasn't",
 'haven',
 "haven't",
 'isn',
 "isn't",
 'ma',
 'mightn',
 "mightn't",
 'mustn',
 "mustn't",
 'needn',
 "needn't",
 'shan',
 "shan't",
 'shouldn',
 "shouldn't",
 'wasn',
 "wasn't",
 'weren',
 "weren't",
 'won',
 "won't",
 'wouldn',
 "wouldn't"]

In [4]:
df=pd.read_csv("https://raw.githubusercontent.com/manishkr1754/30_Days_30_ML_Projects_Challenge/refs/heads/main/Datasets/Day17_Mail_Data.csv")

In [5]:
df

     Category                                            Message
0         ham  Go until jurong point, crazy.. Available only ...
1         ham                      Ok lar... Joking wif u oni...
2        spam  Free entry in 2 a wkly comp to win FA Cup fina...
3         ham  U dun say so early hor... U c already then say...
4         ham  Nah I don't think he goes to usf, he lives aro...
...       ...                                                ...
5567     spam  This is the 2nd time we have tried 2 contact u...
5568      ham               Will ü b going to esplanade fr home?
5569      ham  Pity, * was in mood for that. So...any other s...
5570      ham  The guy did some bitching but I acted like i'd...
5571      ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Category  5572 non-null   object
 1   Message   5572 non-null   object
dtypes: object(2)
memory usage: 87.2+ KB

In [7]:
numerical_figures=[feature for feature in df.columns if df[feature].dtype!='O']
categorical_figures=[feature for feature in df.columns if df[feature].dtype=='O']

In [8]:
df.isnull().sum()

Category    0
Message     0
dtype: int64

# USING LABELENCODING

In [9]:
from sklearn.preprocessing import LabelEncoder

In [10]:
encoder=LabelEncoder()

In [11]:
df["Category"]=encoder.fit_transform(df["Category"])

In [12]:
# OTHER METHOD :

In [13]:
#df=pd.getdummied(df,columns=['Category'],drop_first=True)

In [14]:
df["Category"].value_counts()

Category
0    4825
1     747
Name: count, dtype: int64

# STEMMING

In [15]:
porter_stemmer=PorterStemmer()

In [16]:
#LETS UNDERSTAND THIS PART DEEPLY

In [17]:
def stemming(content):
    if not isinstance(content, str):  # Check if content is a string
        return ""  # Return an empty string if not a string
    
    # Continue with the stemming process if content is a string
    stemmed_content = re.sub('[^a-zA-Z]',' ', content)  # Remove non-alphabetic characters
    stemmed_content = stemmed_content.lower()  # Convert to lowercase
    stemmed_content = stemmed_content.split()  # Split into words
    stemmed_content = [porter_stemmer.stem(word) for word in stemmed_content if word not in stopwords.words('english')]  # Stem and remove stopwords
    stemmed_content = ' '.join(stemmed_content)  # Join the words back into a single string
    return stemmed_content

In [18]:
mail_data=df
mail_data['Message'] = mail_data['Message'].apply(stemming)

In [19]:
inp="HELLO MONEY MONEY MONEY MONEY BUY BUY"
inp=stemming(inp)
inp

'hello money money money money buy buy'

In [20]:
# separating the data and labels
X = mail_data['Message'] # Feature matrix
y = mail_data['Category'] # Target variable

In [21]:

y

0       0
1       0
2       1
3       0
4       0
       ..
5567    1
5568    0
5569    0
5570    0
5571    0
Name: Category, Length: 5572, dtype: int32

In [22]:
y=y.astype('int')

In [23]:
vectorizer = TfidfVectorizer()

In [24]:
vectorizer.fit(X)

X = vectorizer.transform(X)

In [25]:
print(X)

  (0, 190)	0.3522946643655987
  (0, 379)	0.26350491969128115
  (0, 736)	0.33630333732147566
  (0, 738)	0.29761995607435426
  (0, 964)	0.29761995607435426
  (0, 1169)	0.27282796669086984
  (0, 2171)	0.14066343975170745
  (0, 2208)	0.1649859743034801
  (0, 2245)	0.19460776670194488
  (0, 2827)	0.3522946643655987
  (0, 2932)	0.28506031120996994
  (0, 4091)	0.24055424511726686
  (0, 5957)	0.19460776670194488
  (0, 6135)	0.23616756554565888
  (1, 2794)	0.4745440766926726
  (1, 2960)	0.4218982744467187
  (1, 3760)	0.2809319560263009
  (1, 3785)	0.564793662023427
  (1, 6056)	0.44597659211687757
  (2, 262)	0.18752116579572622
  (2, 1058)	0.2181159425903744
  (2, 1220)	0.22327647280120547
  (2, 1673)	0.3983526060107063
  (2, 1791)	0.52682621884254
  (2, 1890)	0.18841663063918468
  :	:
  (5567, 5520)	0.20176693864555295
  (5567, 5644)	0.23763296461255506
  (5568, 1704)	0.6652366917601374
  (5568, 1996)	0.5740672391289212
  (5568, 2171)	0.29597505521175127
  (5568, 2457)	0.37457404553349233
  (5569, 3439)	0.5301411472422174
  (5569, 4044)	0.6374814122151056
  (5569, 5236)	0.5590776449483026
  (5570, 52)	0.362651527240719
  (5570, 577)	0.35551551960101946
  (5570, 763)	0.24826664793299388
  (5570, 1630)	0.2965868609804064
  (5570, 2007)	0.19305640171427174
  (5570, 2099)	0.3345920355159975
  (5570, 2290)	0.2538006819656808
  (5570, 2669)	0.3172465698926507
  (5570, 3042)	0.19150020752978172
  (5570, 3614)	0.2552941152707463
  (5570, 4986)	0.24958937842163822
  (5570, 5804)	0.2538006819656808
  (5570, 5992)	0.22282875716394904
  (5571, 3538)	0.4841430957631416
  (5571, 4541)	0.6981587787831502
  (5571, 5657)	0.5274275139134303

In [26]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, stratify=y, random_state=45)

In [27]:
model=LogisticRegression()
classifier=model.fit(X_train,y_train)
y_pred=classifier.predict(X_test[0])